@font-face {
    font-family: "Open Sans";
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
    src: url("../font/open-sans-v17-latin-600.woff2") format("woff2"),
        url("../font/open-sans-v17-latin-600.woff") format("woff");
}
