@import "../helper/mixins";
@import "../helper/variables";

.gluggi-icon {
    @include fixed-flex-width($icon-size);
    box-sizing: content-box;
    display: inline-block;
    height: $icon-size;

    svg {
        display: block;
        width: 100%;
        height: 100%;
    }
}
