@import "../helper/variables";

.gluggi-components {
    overflow-y: auto;
    font-size: 14px;

    .gluggi-component {
        padding: 0 $sidebar-padding;

        + .gluggi-component {
            margin-top: 25px;
            border-top: 1px solid $border-color;
        }
    }

    .gluggi-component-list {
        list-style: none;
        margin: 0;
        padding: 0;

        li + li {
            margin-top: 1px;
        }
    }

    .gluggi-component-title {
        font-size: 20px;
        color: $section;
        margin: 16px 0;
    }
}
