@import "../helper/mixins";
@import "../helper/variables";

.gluggi-container {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;

    .gluggi-sidebar {
        @include fixed-flex-width(300px);
        z-index: 1;
    }

    .gluggi-content-view {
        @include flex-fill-width;
        z-index: 1;
    }

    .gluggi-sidebar-open {
        @include center-children;
        @include invisible-button;
        position: absolute;
        z-index: 3;
        top: 20px;
        right: 20px;
        height: 32px;
        width: 32px;
        background-color: $content-bg;
        box-shadow: 0 5px 12px 0 $shadow-color;
        display: none;

        &:hover,
        &:focus {
            background-color: $bg-dark;
            color: $inverted;
        }

        &.is-visible {
            display: flex;
        }
    }
}
