{% extends "@Gluggi/layout.html.twig" %}

{% block content %}
    <main id="gluggi-content">
        {{ include("@Gluggi/Gluggi/_componentPreview.html.twig", {
            component: component,
        }) }}
    </main>
{% endblock %}
