<div class="gluggi-content-actions">
    <button type="button" class="gluggi-action gluggi-toggle-fullscreen">
        <span class="gluggi-icon gluggi-icon-active">{{ include("@Gluggi/icon/minimize.svg") }}</span>
        <span class="gluggi-icon gluggi-icon-inactive">{{ include("@Gluggi/icon/maximize.svg") }}</span>
    </button>

    {{- data_container(usages, "gluggi-data-container-usages") -}}
</div>
