{%- form_theme form "@BecklynRad/form/theme.html.twig" -%}

{{- form_start(form) -}}
    {{- form_widget(form) -}}

    <div class="form-row form-row-buttons">
        <a href="" class="form-button form-button-abort">Abort</a>
        <button type="submit" class="form-button form-button-proceed">Submit</button>
    </div>
{{- form_end(form) -}}
