$bg: #f2f2f2;
$text: #000;
$sidebar-bg: #fff;
$shadow-color: rgba(#000, .07);
$sidebar-padding: 30px;
$border-color: #d3d3d3;
$section: #b5b5b5;
$link-color: #000;
$highlight: #1a43ed;
$sidebar-padding: 56px;

$link-focus-bg: #f2f2f2;


$content-bg: #fff;

$icon-size: 16px;
