{# @var component \Becklyn\GluggiBundle\Data\Component #}
<section class="gluggi-preview">
    <div class="gluggi-component">
        {{ gluggi(component.type.key, component.key, {standalone: true}) }}
    </div>
</section>
