{% extends "@Gluggi/layout.html.twig" %}

{% block content %}
    <main id="gluggi-content">
    {%- for component in type.components -%}
        {{ include("@Gluggi/Gluggi/_componentPreview.html.twig", {
            component: component,
        }) }}
    {%- endfor -%}
    </main>
{% endblock %}
