{% trans_default_domain "gluggi" %}
{# @var types \Becklyn\GluggiBundle\Data\ComponentType[] #}

<div class="gluggi-sidebar">
    {{- render(controller("Becklyn\\GluggiBundle\\Controller\\EmbedController::dataContainer", {
        data: {
            types: types,
            title: customTitle ?? "Gluggi",
        },
        id: "gluggi-sidebar-content-data"
    })) -}}
</div>
