{% trans_default_domain "gluggi" %}
{# @var types \Becklyn\GluggiBundle\Data\ComponentType[] #}

<div class="gluggi-sidebar">
    {{- render(controller("Becklyn\\GluggiBundle\\Controller\\EmbedController::dataContainer", {
        data: data,
        id: "gluggi-sidebar-content-data",
    })) -}}
</div>
